@import "bootstrap-sprockets";
@import "bootstrap";

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.article-title{
    font-size: 1.5em;
    border-bottom: 1px solid #eaeaea;
    
    
}
.article-description{
    padding: 15px 0 15px 0;
    
}